{% load static %}
<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50 bg-black">
<div class="w-6/12">
    <a href="/">
        <h1 class="text-white">Visit Brasília</h1>
        <img class="w-5/12" src="" alt="">
    </a>
</div>

<div class="w-6/12 flex flex-nowrap justify-end">
<div class="mr-4">
<form method="get" action="{% url 'place:searchplace' %}">
    <input type="text" class="py-1 px-2 rounded-md text-black" placeholder="Search..." name="query">
    <input type="submit" value="">
</form>
    
</div>

<div class="mr-4">
    <a href="https://github.com/Padualb" target="_blank">
        <img src="{% static 'img/github.png' %}" alt="" class="h-8">
    </a>
    
</div>

<div class="mr-4 ">
    <a href="" target="_blank">
        <img src="{% static 'img/linkedin.png' %}" alt="" class="h-8">
    </a>
    
</div>

</div>

</nav>