{% extends 'base.html' %}


{% block title %}
Place detail 
{% endblock %}

{% block content  %}


{% comment %} <div class="py-10">
    <h1>Detail Page</h1>
    <h1>Detail Page</h1>
<p>{{object}}</p>
<p>{{object.description}}</p>
<img src="{{object.thumb.url}}" alt="">

<h1>Comentários</h1>
{%for comment in object.comments.all%}
<p>Comment: {{comment.comment}}</p>
<p>Rating: {{comment.rating}}</p>


<p>{{comment.creation_date}}</p>

{% endfor %}
</div>

<div>
{%for place in related_places %}
<p>Related Places:</p>
<a href="{% url 'place:detailsplace' place.id %}">
    <p> {{place.title}}</p>
</a>

{% endfor %}
</div> {% endcomment %}
<main class='bg-slate-300 min-h-screen w-full'>
    <section class="h-screen relative bg-no-repeat pb-2 pl-8 flex  bg-cover">
        <div  style="width:50%; margin-top:90px;">
            <h2 class="text-6xl font-semibold text-black my-4">
                {{object.title}}
            </h2>
            <p class=" w-11/12 md:w-5/12 font-medium text-black my-4">
                {{object.description}}
            </p>
            <p class=" w-11/12 md:w-5/12 font-medium text-black my-4">
                Adress: {{object.adress}}
            </p>
           
        </div>
        <div style="margin:auto; width:50%; margin-top:90px; display:flex;  justify-content:initial;">
            <img style="width:80%" src="{{object.thumb.url}}" alt="">
        </div>
    </section> 
    <section class='bg-primary_black flex justify-center'>
        <div class="p-8 w-10/12 relative" >
            

            <div style='margin-top:2rem;margin-bottom:2rem;'>
                <h2 class="text-gray-200 text-3xl font-medium">
                    Comments:
                </h2>    
                   
                    {% for comment in object.comments.all %}
                   
                    <p class="text-white">{{comment.comment}}</p> 
                    <p class="text-white">{{comment.rating}}</p> 

                    {% endfor %}
                
                    

            </div>

        </div>
    </section>

    <section class='bg-primary_black flex justify-center py-10'>
        <div class="p-8 w-10/12 relative" >
            <h2 class="text-gray-200 text-2xl font-medium">
                Related places
            </h2>
            <div class="flex flex-wrap items-center min-w-full movie_lis">
                {%for place in related_places %}
                <div class="m-4 bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer h-64 w-96">
                    <a href="{% url 'place:detailsplace' place.id %}">
                        <img src="{{place.thumb.url}}" class="object-cover w-full h-full " alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
</main>


{% endblock  %}